.service-item {
  transition: transform 0.3s;
}

.service-item:hover {
  transform: scale(1.05);
}

h3 {
  font-size: 1.5rem; /* Adjust font size for headings */
}

p {
  font-size: 1rem; /* Adjust font size for paragraphs */
}

@media (max-width: 576px) {
  h3 {
    font-size: 1.25rem; /* Smaller heading size on extra small screens */
  }

  p {
    font-size: 0.9rem; /* Smaller paragraph size on extra small screens */
  }
}


